@media(max-width: 1200px){

    main{
        height: auto;
        padding: 30px;
    }

    .container{
        display: grid;
        grid-template-rows: 325px 250px 250px 250px 250px 300px;
        gap: 30px;
    }
    
    .social-media-reviews{
        grid-area: 1 / 1 / 2 / 3;
    }

    .non-stop-content{
        grid-area: 2 / 1 / 3 / 3;
    }

    .audience-growth{
        grid-area: 3 / 1;
    }

    .consistent-posting{
        grid-area: 3 / 2 ;
    }

    .write-content-ai{
        grid-area: 4 / 1 / 5 / 3;
        width: 550px;
        margin-top: auto;
    }
    
    .ai_content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 30px;
        font-size: 5.4rem;
        font-weight: 500;
        line-height: 50px;
    }

    .manage-multiple-accounts{
        grid-area: 5 / 1 ;
    }
    
    .create-content-quicker{
        grid-area: 6 / 1;
        height: auto;
        width: 260px;
    }

    .ai_content img {
        width: 40%;
    }

    .content_quicker_about{
        padding: 35px;
        line-height: 40px;
    }
    
    .content_quicker_about img{
        margin-top: 10px;
    }
    
    .optimize-post{
        grid-area: 5 / 2 / 7 ;
    }
}