@font-face{
    font-family: 'DMSans';
    src: url(../src/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf), url(../src/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf), url(../src/assets/fonts/static/DMSans-Medium.ttf),url(../src/assets/fonts/static/DMSans-MediumItalic.ttf),url(../src/assets/fonts/static/DMSans-Regular.ttf);
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background);
    font-family: 'DMSans';
}

main{
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-rows: 325px 250px 250px;
    grid-template-columns: repeat(4,260px);
    gap: 30px;
}

.create-content-quicker,.social-media-reviews,.optimize-post,.write-content-ai,.manage-multiple-accounts,.consistent-posting,.audience-growth,.non-stop-content{
    border-radius: 10px;
}

:is(.create-content-quicker,.social-media-reviews,.optimize-post,.write-content-ai,.manage-multiple-accounts,.consistent-posting,.audience-growth,.non-stop-content) div{
    height: 100%;
}

.create-content-quicker{
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--n1-light-color);
    height: 420px;
}

.content_quicker_about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 35px;
    gap: 25px;
    line-height: 35px;
    font-size: 4rem;
    letter-spacing: -2px;
    font-weight: 500;
}

.content_quicker_about span{
    color: var(--n2-strong-color);
    font-style: italic;
}

.social-media-reviews{
    grid-area: 1 / 2 / 2 / 4;
    background-color: var(--n2-strong-color);
}

.about_review{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--background);
    font-size: 6rem;
    line-height: 60px;
    font-weight: 600;
}

.about_review strong{
    color: var(--n1-strong-color);
}

.about_review span{
    font-style: italic;
}

.about_review img{
    translate: 0px 25px;
    width: 35%;
}

.about_review :nth-child(3){
    font-weight: 500;
    translate: 0px 15px;
    font-size: 1.8rem;
}

.optimize-post{
    grid-area: 1 / 4 / 3 / 5;
    background-color: var(--n2-light-color);
}

.optimize_post_about{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 3rem;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -1px;
    padding: 30px 0 30px 30px;
}

.optimize_post_about :nth-last-child(1){
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
    margin-right: 30px;
}

.optimize_post_about img{ 
    height: 320px;
    object-fit: cover;
    object-position: 0 0;
}

.write-content-ai{
    grid-area: 2 / 1 / 4 / 2;
    background-color: var(--n1-strong-color);
    margin-top: calc(65px + 30px);
}

.ai_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px 25px 25px;
    letter-spacing: -2px;
    font-size: 4rem;
    font-weight: 550;
    line-height: 35px;
}

.ai_content :nth-child(1){
    margin-right: 25px;
}

.manage-multiple-accounts{
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--white);
}

.manage_accounts_about img{
    height: 68px;
    object-fit: cover;
    object-position: 0%;
    box-shadow: -15px 5px 20px rgba(201, 198, 198, 0.123);
}

.manage_accounts_about{
    padding: 25px 0px 0px 25px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -1px;
    font-size: 3rem;
}

.manage_accounts_about p{
    margin: 20px 25px 0 0;
}

.consistent-posting{
    grid-area: 2 / 3 / 3 / 4;
    background-color: var(--n1-strong-color);
}

.consistent_posting_about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 0;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1px;
    font-size: 3rem;
}

.consistent_posting_about img{
    height: 95px;
    width: 250px;
    object-fit: cover;
    object-position: 0 0;
}

.audience-growth{
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--white);
}

.audience_growth_about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 25px 25px;
    letter-spacing: -1px;
    font-size: 2rem;
}

.audience_growth_about p strong{
    font-size: 6rem;
    font-weight: 600;
}

.audience_growth_about span{
    display: inline-block;
    transform: translateY(-6px);   
}

.audience_growth_about img{
    width: 180px;
}

.non-stop-content{
    grid-area: 3 / 3 / 4 / 5;
    background-color: var(--n2-strong-color);
}

.non_stop_content_about{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--white);
    line-height: 35px;
    font-size: 4rem;
    padding: 25px;
}

.non_stop_content_about img{
    width: 230px;
}